<div class='sidebar'>
  <button class='close' {{action 'toggleSidebar' false}}>
    {{fa-icon 'close'}}
  </button>
  <h3>Whiteboard Tools</h3>
  <button {{action 'setTool' 'pen'}}>
    {{fa-icon 'pencil'}}
  </button>
  <button {{action 'setTool' 'line'}}>
    {{fa-icon 'arrows-h'}}
  </button>
  <button {{action 'setTool' 'square'}}>
    {{fa-icon 'square'}}
  </button>
  <button {{action 'setTool' 'circle'}}>
    {{fa-icon 'circle'}}
  </button>
  <button {{action 'setTool' 'eraser'}}>
    {{fa-icon 'eraser'}}
  </button>
  <p>
    <label>
      {{input type="checkbox" checked=fillShape }}
      Toggle Fill
    </label>
  </p>
  <p>
    <label>
      {{input type="checkbox" checked=graphPaper }}
      Toggle Graph Paper
    </label>
  </p>
  <p>
    <label>
      Colour:
      {{input type="text" value=color}}
    </label>
  </p>
  <p>
    <strong>Current Tool: {{current_tool}}</strong>
  </p>
</div>
<div class="hover-group">
  <button {{action 'toggleSidebar' true}}>
    {{fa-icon "bars"}}
  </button>
</div>
<canvas id="demoCanvas" width='800' height='600'></canvas>
