<div id="slide-out" class="side-nav">
  <ul>
    <li {{bind-attr class="isPen:active"}}>
      <a href='#' {{action 'setTool' 'pen'}}> {{fa-icon 'pencil'}} Pen </a>
    </li>
    <li {{bind-attr class="isLine:active"}}>
      <a href='#' {{action 'setTool' 'line'}}> {{fa-icon 'arrows-h'}} Line </a>
    </li>
    <li {{bind-attr class="isSquare:active"}}>
      <a href='#' {{action 'setTool' 'square'}}> {{fa-icon 'square-o'}} Square </a>
    </li>
    <li {{bind-attr class="isCircle:active"}}>
      <a href='#' {{action 'setTool' 'circle'}}> {{fa-icon 'circle-o'}} Elipse </a>
    </li>
    <li {{bind-attr class="isEraser:active"}}>
      <a href='#' {{action 'setTool' 'eraser'}}> {{fa-icon 'eraser'}} Eraser </a>
    </li>
    <li class='input'>
      {{input id='toggle-fill' type="checkbox" checked=fillShape }}
      <label for='toggle-fill'>Toggle Fill </label>
    </li>
    <li class='input'>
      {{input id='graph-paper' type="checkbox" checked=graphPaper}}
      <label for='graph-paper'> Graph Paper </label>
    </li>
  </ul>
</div>
<div class="hover-group left">
  <a href="#" data-activates="slide-out" class="sidebar-toggle btn-floating btn waves-effect waves-light yt-purple"><i class="mdi-navigation-menu"></i></a>
</div>
<div class="hover-group right">
  <a href="#" class="btn-floating btn waves-effect waves-light light-blue"><i class="mdi-social-notifications"></i></a>
  <ul class='expand'>
    <li>
      <a href="#" class="btn-floating btn waves-effect waves-light red"><i class="mdi-communication-forum"></i></a>
    </li>
    <li>
      <a href="#" class="btn-floating btn waves-effect waves-light  blue-grey">1</a>
    </li>
    <li>
      <a href="#" class="btn-floating btn waves-effect waves-light  blue-grey">2</a>
    </li>
    <li>
      <a href="#" class="btn-floating btn waves-effect waves-light  blue-grey">3</a>
    </li>
    <li>
      <a href="#" class="btn-floating btn waves-effect waves-light  blue-grey">4</a>
    </li>
  </ul>
</div>
<canvas id="demoCanvas" width='800' height='600'></canvas>
